# 应用名称
spring:
  application:
    name: dailyRecord

  datasource:
    dynamic:
      primary: master # 主数据源名称
      datasource:
        master: # 主数据源配置
          url: jdbc:mysql://localhost:3306/daily-record?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
          username: root
          password: root
          # MySQL 8.0
#          driver-class-name: com.mysql.cj.jdbc.Driver
          # MySQL 5.x
          driver-class-name: com.mysql.jdbc.Driver

server:
  port: 9999

# 指定mapper接口扫描和mapper配置文件扫描的包
mybatis:
  mapper-locations: classpath*:mapper/*.xml
  type-aliases-package: com.zjq.dailyrecord.mapper

# knife4j配置信息
knife4j:
  enable: true
  openapi:
    title: 共饮一杯无专属文档
    description: 欲知后事如何，请关注共饮一杯无https://zhanjq.blog.csdn.net/
    email: 111@foxmail.com
    concat: 共饮一杯无
    url: https://zhanjq.blog.csdn.net/
    version: v1.0
    license: Apache 2.0
    terms-of-service-url: https://stackoverflow.com/
  basic:
    enable: true
    username: admin
    password: admin

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    call-setters-on-nulls: true
  typeAliasesPackage: com.zjq.dailyrecord.**.entity,com.zjq.dailyrecord.**.model
  mapperLocations: classpath*:mapper/**/*Mapper.xml